html, body {
  background-color: #EFF2F2;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

#root {
  margin: 0;
  min-height: 100%;
}

.container {
  margin: 0;
  min-height: 100%;
}

.content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 95%;
}

.concerts-container {
  width: 80%;
}

.concert {
  background-color: black;
  display: inline-block;
  width: 25%;
  margin: 20px;
}

.concerts-container {
  background-color: white;
  border-radius: 18px;
  box-shadow: 0 5px 4px #E2E4EA;
  margin-left: auto;
  margin-top: 0;
  margin-right: auto;
  text-align: center;
  padding: 25px;
  width: 95%;
}

.concerts-container h2, h3 {
  margin: 0;
}

.concerts-container h2 {
  color: #FB0041;
}

.user-form {
  background-color: white;
  border-radius: 18px;
  box-shadow: 0 5px 4px #E2E4EA;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 25px;
  width: 40%;
}

.user-form p {
  color: #757575;
  line-height: 1.5em;
}

.user-form a {
  color: #FB0041;
  text-decoration: none;
}

.user-form h2 {
  margin: 0;
}

h1 {
  color: #757575;
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  /*text-shadow: 4px 4px #2b2d42;*/
}

.App-header {
  background-color: white;
  /*border-top: 5px solid #757575;*/
  box-shadow: 0 5px 4px #E2E4EA;
  height: 70px;
}

.header-links {
  float: right;
  padding: 25px 30px 10px 20px;
}

.header-links a {
  color: #FB0041;
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}

#space-left-link {
  margin: 0 0 0 50px;
}

#intro-text {
  color: #FB0441;
}

.App-footer {
  background-color: #EFF2F2;
  bottom: 2%;
  position: fixed;
  width: 100%;
}

.footer-container {
  display: inline-block;
  margin: 20px auto 0 auto;
  text-align: center;
  width: 100%;
}

.header-text {
  float: left;
  padding: 20px 20px 20px 30px;
}

.credits {
  color: #FB0041;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 3px 0;
}

.btn-primary {
  background-color: #FB0241;
  background-image: none;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  letter-spacing: 2px;
  margin: 20px 0 0 0;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  width: 160px;
}

.btn-primary:hover {
  background-color: #E7033D;
}

h3 {
  color: #757575;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 10px auto 20px auto;
}

#firstName, #lastName, #email {
  font-size: 15px;
  margin: 7px;
  height: 40px;
  text-align: center;
  width: 300px;
}